// Positioning
.row-absolute {
  position: absolute;
  width: 100%;
  z-index: 100;
  max-width: $container-max-width;
}

.position-alert {
  position: fixed;
  left: 50%;
  transform: translate(-50%);
  z-index: $zindex-popover;
  bottom:0;
  margin-bottom: 0px;
}

@for $index from 0 through 10 {
  .z-#{$index} { z-index: #{$index}; }
}
