
.card.card-steps {
  flex-wrap: nowrap;
  @include make-padding-grid((1, 0));

  @include media-breakpoint-down(sm) {
    flex-direction: column;
    padding: 0px;
  }
  .card-body {
    @include make-shape-square(11);
    @include make-padding-grid((0, 2));
    @include make-margin-grid((0, 0, 0, 2));
    justify-content: center;
    //MOBILE
    @include media-breakpoint-down(sm) {
      @include clear-shape();
      @include clear-width();
      @include make-margin-grid((0));
      @include make-padding-grid(($mobile-card-padding, $mobile-card-padding, 10, $mobile-card-padding));
    }
  }
  .card-list-group {
    @include make-width-grid(9);
    @include make-margin-grid((1, 0, 0, 0));
    padding: 0;
    //MOBILE
    @include media-breakpoint-down(sm) {
      @include make-width-grid(20);
      @include make-margin-grid((-8, 2, $mobile-card-padding, 2));

    }
  }

  @include media-breakpoint-up(sm) {
    &.card-reverse {
      .card-body {
        @include make-margin-grid((0, 2, 0, 0));
      }
    }
  }

  @each $color, $value in $theme-colors {
    &.card-#{$color}  {
      $reverse-color: get-reverse-color($color);
      color: theme-color('light');
      .card-body  {
        @include make-bg-pattern($color);
        .card-link .btn {
          @include btn-outline($reverse-color);
         }
      }
      .item  {
        @include make-bg-pattern($reverse-color);
      }
      .number {
        color: theme-color($color);
      }
    }
  }

  &.card-dark .item {
    color: theme-color('dark');
  }
}

.card.card-steps.card-steps-display-2 {
  @include media-breakpoint-down(sm) {
    flex-direction: column;
    padding: 0px;
  }
  .card-body {
    @include make-shape-square(9);
    @include make-margin-grid((0, 0, 0, 3));
    //MOBILE
    @include media-breakpoint-down(sm) {
      @include clear-shape();
      @include clear-width();
      @include make-margin-grid((0));
      @include make-padding-grid(($mobile-card-padding, $mobile-card-padding, 0, $mobile-card-padding));
    }
  }
  .card-list-group {
    @include make-row();
    @include make-shape-square(10);
    @include make-margin-grid((2, 2, 0, 0));
    background-color: theme-color('light');
    align-items: center;
    //MOBILE
    @include media-breakpoint-down(sm) {
      @include clear-shape();
      @include clear-width();
      @include make-margin-grid((0));
      @include make-padding-grid((0, $mobile-card-padding, $mobile-card-padding, $mobile-card-padding));
    }
    .item {
      background: transparent;
    }

  }

  @each $color, $value in $theme-colors {
    &.card-#{$color}  {
      $reverse-color: get-reverse-color($color);
      .card-body  {
        @include make-bg-pattern('primary');
        color: theme-color('light');
        //MOBILE
        @include media-breakpoint-down(sm) {
          /* Page /formations/dirigeant */
          @include make-padding-grid(($mobile-card-padding, $mobile-card-padding, $mobile-card-padding, $mobile-card-padding));
          /*background: theme-color('light');
          color: theme-color('dark');*/
        }
      }
      .card-subtitle {
        @include media-breakpoint-down(sm) {
          color: theme-color('primary');
        }
      }

      .number {
        color: theme-color('primary');
        //MOBILE
        @include media-breakpoint-down(sm) {
          font-size: $number-1-cut-height;
          height: 1.5rem
        }
      }
      .card-list-group {
        @include make-bg-pattern($color);
        .title, .subtitle {
          color: get-color-yiq($value);
          padding: 0 5%;
        }
        .subtitle {
          opacity: 0.5;
          font-weight: 400;
        }
      }
    }
  }
  &.card-primary {
    .card-body {
      @include make-bg-pattern('secondary');
    }
    .number {
      color: theme-color('secondary');
    }
  }

  @include media-breakpoint-up(sm) {
    &.card-reverse {
      .card-body {
        @include make-margin-grid((0, 3, 0, 0));
      }
      .card-list-group {
        @include make-margin-grid((2, 0, 0, 2));
      }
    }
  }
}

.card.card-steps.card-steps-display-3 {
  flex-wrap: nowrap;
  justify-content: center;
  padding: 0;

  @include media-breakpoint-down(sm) {
    flex-direction: column;
    padding: 0px;
  }
  .card-body {
    @include make-width-grid(16);
    padding:0;
    margin:0;
    min-height: 100%;
    justify-content: center;
    //MOBILE
    @include media-breakpoint-down(sm) {
      @include clear-shape();
      @include clear-width();
      @include make-margin-grid((0));
      @include make-padding-grid(($mobile-card-padding, $mobile-card-padding, 10, $mobile-card-padding));
    }
  }
  .card-list-group {
    @include make-width-grid(16);
    @include make-margin-grid((0));
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    flex-wrap: wrap;
    //MOBILE
    @include media-breakpoint-down(sm) {
      @include make-width-grid(20);
      @include make-margin-grid((-8, 2, $mobile-card-padding, 2));

    }
  }
}
