.card.card-form {
  @include make-row();
  @include make-bg-pattern-middle('dark');
  justify-content: center;
  color: theme-color('light');

  //MOBILE
  @include media-breakpoint-down(sm) {
    background-color: theme-color('black');
    &::after {
      content: none;
    }
    .custom-file-input {
      min-width: 0;
      max-width: 0;
    }
  }

  form {
    margin-bottom: 0;
  }
  .card-subtitle {
    color: theme-color('primary');
  }
  .card-title {
    margin-bottom: 2rem;
  }
  .card-body {
    @include make-padding-grid((2, 2, 0, 2));
    @include make-width-grid((12));
    text-align: center;
    margin: 0px !important;
    background-image: none!important;
    z-index: 2;
    //MOBILE
    @include media-breakpoint-down(sm) {
      @include clear-width();
      @include make-padding-grid(($mobile-card-padding, $mobile-card-padding, $mobile-card-padding, $mobile-card-padding));
      
    }
  }
  .form-info {
    @include make-margin-grid((0.5, 0));
  }
  @each $color, $value in $theme-colors {
    &.card-#{$color}  {
        @include make-bg-pattern-middle($color);
        .card-body {
          background-color: none;
        }
        .card-subtitle {
          color: theme-color('primary');
        }
    }
  }
}
