.card.card-triptych {
  text-align: center;
  word-wrap: initial;
  .card-body {
    @include make-padding-grid((2, 1, 1));
    justify-content: center;
    //MOBILE
    @include media-breakpoint-down(sm) {
      @include make-padding-grid((3, 1, 3, 1));
    }
  }
  .card-subtitle + .card-nav {
    @include make-margin-grid((0.5, 0, 0, 0));
  }

  .card-title {
    font-size: $triptych-title-font-size;
    //MOBILE
    @include media-breakpoint-down(sm) {
      font-size: $mobile-triptych-title-font-size;
    }
  }
  .card-text {
    //MOBILE
    @include media-breakpoint-down(sm) {
      margin-bottom: 2rem;
    }
  }

  @include media-breakpoint-up(sm) {
    @each $color, $value in $theme-colors {
      &.card-#{$color} {
        $reverse-color: get-reverse-color($color);
        .card-nav .nav-item .nav-link .nav-item-title span:first-child {
          color: theme-color($reverse-color);
        }
        .card-nav .nav-item .nav-link {
          &::before, &::after {
            background-color: theme-color($reverse-color);
          }
        }
      }
    } 
  }
}


/** TRIPTYCH  NAV **/
.card-triptych .card-nav, .card-nav-triptych {
  justify-content: space-around;
  width: 100%;
  //MOBILE
  @include media-breakpoint-down(sm) {
    flex-direction: column;
  }
  .nav-item-title {
    text-align: center;
    font-family: "Dala Floda", Arial, sans-serif;
    font-size: $triptych-item-title-font-size;
    line-height: 5.2rem;
    display: block;

    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    span:first-child {
      display: block;
      position: relative;
      z-index: 1;
      line-height: 100%;
    }
    span:nth-child(2) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      position: absolute;
      z-index: 2;
      color: $white;
      line-height: 100%;
      overflow: hidden;
      transition: all 0.8s;
    }
    @media all and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      span:nth-child(2) {
        top: 0;
      }
    }
    
    &.title-sm {
      font-size: $triptych-item-title-sm-font-size;
      line-height: 4rem;
      @include media-breakpoint-down(sm) {
        font-size: $mobile-triptych-item-title-sm-font-size;
        line-height: 2.1rem;
      }
    }
    //MOBILE
    @include media-breakpoint-down(sm) {
      font-size: $mobile-triptych-item-title-font-size;
    }
  }

  .nav-item {
    @include make-col(8);
    padding: 0px;
    h1, h2, h3 {
      font-family: "Dala Floda", Arial, sans-serif;
    }
    &:last-child .nav-link {
      padding-bottom: 0px;
    }
    .nav-item-child {
      @include make-margin-grid((2, 0, 0, 0));
    }
    @include media-breakpoint-down(sm) {
      @include make-col(24);
      @include clear-shape();
      flex: 0 0 0;
      padding: 0px;

      &:nth-child(2) {
        padding: 2rem 0;
      }
    }
  }

  .nav-link {
    color: theme-color('light');
    transition: color 0.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    small {
      margin-bottom: 0px;
    }
    &:hover {
      /*color: #1b5e75;*/
      &::before, &::after {
        @include make-grid-sized-prop(('height'), 0.8);
        @include make-margin-grid((0, 0, 0, 0));
      }
    }
    &::before, &::after  {
      content: " ";
      @include make-grid-sized-prop(('height'), 0);
      display: block;
      width: 2px;
      transition: margin 0.5s, height 0.5s, visibility 0.5s; /*, background-color 0.5s;*/
      //MOBILE
      @include media-breakpoint-down(sm) {
        display: none;
      }
    }
    &::after {
      @include make-margin-grid((0.8, 0, 0, 0));
    }
    &::before {
      @include make-margin-grid((0, 0, 0.8, 0));
    }

    //MOBILE
    @include media-breakpoint-down(sm) {
      .nav-link::before, .nav-link::after,  {
          display: none;
      }
      .nav-link .nav-item-title {
        color: theme-color('secondary');
      }
    }
  }
    
  .nav-item-subtitle {
    font-size: $triptych-item-subtitle-font-size;
    @include make-padding-grid((0, 0.5));
    em {
      display: block;
      font-weight: normal;
    }

    //MOBILE
    @include media-breakpoint-down(sm) {
      font-size: $mobile-triptych-item-subtitle-font-size;
    }
  }
  .nav-separator {
    display: none;
    //MOBILE
    @include media-breakpoint-down(sm) {
      @include make-margin-grid((1,0));
      display: flex;
      font-size: $mobile-font-size-base;
      flex-direction: row;
      justify-content: center;
      line-height: 2rem;
      vertical-align: middle;
      &::before, &::after {
        content: " ";
        @include make-grid-sized-prop(('width'), 3);
        @include make-margin-grid((1,1));

        transition: none;
        border-bottom: 1px solid theme-color('light');
        height: 0px;
        display: inline-block;
        line-height: 0;
      }
    }
  }
}
@include media-breakpoint-down(sm) {
  .card-triptych.card-triptych-display-2 {
    .card-nav .nav-item:nth-child(2) {
      @include make-padding-grid((0));
    }
    .card-title {
      @include make-padding-grid((0, 2));
    }
  }
}