.carousel-controls {
  position: relative;
  z-index: 500;
  align-items: center;
  flex-flow: row nowrap;
  justify-content: space-between;

  @include make-row();
  @include make-shape(6.5, 1);
  @include make-margin-grid((-1.5, 0, 0.5, 3));
  @include make-padding-grid((0, 0, 0, 1));
  //MOBILE
  @include media-breakpoint-down(sm) {
    position: absolute;
    left: 0;
    margin: 0;
    padding: 0 1.5rem;
    width: 100%;

    @include clear-width();
    @include make-grid-sized-prop('top', 2);
  }

  .carousel-control-prev,
  .carousel-control-next {
    position: relative;
    z-index: 500;
    display: flex;
    justify-content: center;
    opacity: 1;

    @include make-shape(0.5, 0.5);
  }
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    position: relative;
    top: -35%;
    display: block;
    background: none;
    color: theme-color('dark');
    text-align: center;
    font-weight: normal;
    font-size: $carousel-control-icon-font-size;
    font-family: FontAwesome;
  }
  .carousel-control-prev-icon:before {
    content: "\f104";
    //MOBILE

    @include media-breakpoint-down(sm) {
      display: block;
      width: $mobile-carousel-control-icon-font-size;
      content: url(../assets/images/back-dark.svg);
    }
  }
  .carousel-control-next-icon:before {
    content: "\f105";
    //MOBILE

    @include media-breakpoint-down(sm) {
      display: block;
      width: $mobile-carousel-control-icon-font-size;
      content: url(../assets/images/back-dark.svg);
      transform: rotate(180deg);
    }
  }
  .carousel-control-separator {
    width: 1px;
    background-color: theme-color('dark');
    opacity: 0.5;

    @include make-height-grid(0.3);
    //MOBILE
    @include media-breakpoint-down(sm) {
      display: none;
    }
  }
  .carousel-control-line {
    z-index: 101;
    height: 2px;
    background-color: theme-color('dark');

    @include make-width-grid(4);
    //MOBILE
    @include media-breakpoint-down(sm) {
      display: none;
    }
  }
}
.carousel-reverse .carousel-controls {
  flex-direction: row-reverse;

  @include make-margin-grid((-1.5, 9, 0, 8));
  .carousel-control-prev-icon:before {
    content: "\f105";
  }
  .carousel-control-next-icon:before {
    content: "\f104";
  }
}


.carousel-display-3 {
    //MOBILE
    @include media-breakpoint-down(sm) {
      .carousel-control-prev-icon:before,
      .carousel-control-next-icon:before {
        content: url(../assets/images/back.svg);
      }
    }
}

.bg-dark {

  .carousel .carousel-controls {
    //MOBILE
    @include media-breakpoint-down(sm) {
      .carousel-control-prev-icon:before,
      .carousel-control-next-icon:before {
        content: url(../assets/images/back.svg);
      }
    }
    .carousel-control-prev-icon,
    .carousel-control-next-icon {
      color: theme-color('light');

    }


    .carousel-control-separator,
    .carousel-control-line {
      background-color: theme-color('light');
    }
  }
}
