.card.card-community {
  .card-header {
    @include make-padding-grid((1,0,0,0));
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex: 1;
    //MOBILE
    @include media-breakpoint-down(sm) {
      @include make-padding-grid((2, $mobile-card-padding,2, $mobile-card-padding));
    }  
  }
  .card-body {
    @include make-padding-grid((0));
  }
  .card-nav {
    @include make-padding-grid((0.5, 0, 1, 0));
  }
  .card-blockquote {
    @include make-margin-grid((-3, 0, 0, 0));
    @include make-padding-grid((3.5, 0, 3.5, 0));
    width: 100%;
  }
  .card-link {
    @include make-margin-grid((1.5, 0, 1, 0));
    .btn {
      @include btn-outline('primary');
    }
  }
  /*.list-group-wrapper {
    @include make-bg-pattern-middle('dark');
  }*/
  .list-group-wrapper .list-group {
    @include make-grid-sized-gutter('margin-top', -1);
  }
  .list-group {
    @include list-unstyled();
    @include make-margin-grid((0, 2, 0, 2));
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    //MOBILE
    @include media-breakpoint-down(sm) {
      @include make-margin-grid((0));      
    }  
    li .item {
      @include make-grid-sized-gutter('margin-bottom', 1.5);
    }
    li {
      flex: 1 0 33%;
      @include media-breakpoint-down(sm) {
        flex: 1 0 100%;        
      }        
    }
    //LAPTOP
    @include media-breakpoint-up(sm) {
      li:nth-child(3n + 2)  {
        @include make-margin-grid((0, 0, -2, 0));
        @include make-padding-grid((2, 0, 0, 0));
      }
      li:nth-child(3n + 1)  {
        @include make-margin-grid((0, 0, -0.5, 0));
        @include make-padding-grid((0.5, 0, 0, 0));
      }
      li:nth-child(7) {
        display: flex;
        justify-content: flex-end;
        @include make-margin-grid((0, 0, -0.8, 0));
        @include make-padding-grid((0, 0, 0, 0));
        .item {
          margin-bottom: 0px;
          flex: 0 0 33%;
        }
      }
    }
  }
}
