.custom-select {
  font-size: $form-control-font-size;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  @include media-breakpoint-down(sm) {
    font-size: $mobile-form-control-font-size
  }
}

.custom-control {
  font-size: $form-control-font-size;
  @include media-breakpoint-down(sm) {
    font-size: $mobile-form-control-font-size;
  }
}

.custom-file {
  font-size: $form-control-font-size;
  font-weight: 400;
  display: flex;
  align-items: center;
  @include media-breakpoint-down(sm) {
    font-size: $mobile-form-control-font-size;
  }
}

.custom-file-control {
  margin: 0;
  padding: 0;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  display: flex;
  align-items: center;

  &::before {
    @include btn-plus();
    margin-top: 0.5rem;
    cursor: pointer;
    @include media-breakpoint-down(sm) {
      margin-top: 1rem;
      border: 1px solid #888;
      background-color: #222;
      padding: 0.6rem;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 0.8rem;
    }
    
  }
}
.custom-file-control:empty::after {
  text-transform: uppercase;
}

*[id^="edit-add-cv-upload"] {
  .custom-file-control:lang(fr):empty::after {
    content: "Ajouter un CV";
    font-size: 0.8rem;
  }
  .custom-file-control:lang(en):empty::after {
    content: "Add a CV";
    font-size: 0.8rem;
  }
}
.webform-submission-apply-job-form-form *[id^="edit-add-cv-upload"] {
  .custom-file-control:lang(fr):empty::after {
    content: "Ajouter un CV *";
    font-size: 0.8rem;
  }
  .custom-file-control:lang(en):empty::after {
    content: "Add a CV *";
    font-size: 0.8rem;
  }
}
*[id^="edit-add-cv-upload--description"] {
  display: block;
  text-align: right;
}
*[id^="edit-add-cv-upload-button"] {
  display: none !important;
}
.modal-dialog .form-group label {
  font-size: 0.8rem;
}
.custom-file-input {
  max-width: 0;
  min-width: 0;
}