.node--type-article .page-container,
.node--type-job .page-container {
	height: initial;
}

header div[role='contentinfo'] {
  position: absolute;
  background-color: white;
  width: 100%;
  z-index: 500;
}

/* Edit buttons for blocks */
.contextual-region .contextual .contextual-links {
 	min-width: 100px;
}
.card-wrapper-cover.contextual-region .contextual {
	margin-top: 95px;
}

[data-block-id] [data-contextual-id].contextual {
  top: 120px;
}

/* Kint */
.kint {
  background: gray;
}

/* Views */
/* View more */
ul.form-more-infinite {
	list-style: none;
	//MOBILE
	@include media-breakpoint-down(sm) {
		background-color: black;
		@include make-margin-grid((0));
		@include make-padding-grid((1, 0));
	}
}
.form-more-result.form-more-infinite {
	text-align: center;
}

/* Force white text for "Découvrez aussi" block */
.card-splitlist {
	h3 {
		a {
			color: white;
		}
	}
}

/* Job entity view */
/* contextual link */
.form-result {
	.item-display-3 {
		.contextual {
			z-index: 3;
		}
	}
}
.list-header-job {
	li {
		div {
			display: inline-block;
		}
	}
}

.list-header-job-secondary, .list-header-job-primary {
	li {
		div {
			display: inline-block;
			div:nth-child(2) {
				margin-left: 10px;
			}
		}
	}
}

.list-header-job-secondary {
	li {
		div {
			div:nth-child(2) {
				color: map-get($theme-colors, "primary");
			}
		}
	}
}

.list-header-job-primary {
	li {
		div {
			div:nth-child(2) {
				color: map-get($theme-colors, "secondary");
			}
		}
	}
}

.list-header-job li:first-child p {
	margin-right: 10px;
}

/* Force white links for view "last 2 */
.block-2-last {
	a {
		color: white;
	}
}

/* Add to Any */
.addtoany_list a {
	display: block;
	margin-top: 15px;
}

.addtoany_list {
	display: inline-block;
	border: 1px solid #ddd;
	border-radius: 5px;
	padding: 0 10px 15px 10px;
}

// Better exposed filter
.bef-links {
	display: inline;
	div {
		display: inline;
	}
}
.bef-exposed-form .form-group {
	margin: 0;
}

/* Twig tweak */
/* Prevent display of these blocks when already called from Twig Tweak in the template */
#main > #block-singlequoteblock, #block-singlequoteblock--2 {
	display: none;
}

/* Spamspan module*/
.item-personae a.spamspan {
	color: white;
}

/* Admin menu toolbar passed undernavbar-main */
#toolbar-administration, #toolbar-administration * {
	z-index: 9999;
}

/* "Better exposed filter" usage for secondary filters (summary) */
/* Remove default behavior for summary tag (arrow) */
summary::-webkit-details-marker {
	display: none
}
details > summary:first-of-type {
	list-style-type: none;
}