.flag-bookmark {
  width: 45px;
  height: 25px;
  color: transparent;
  &.action-unflag {
    background: url(../assets/images/bookmark-on.png) no-repeat center center;
  }
  &.action-flag {
    background: url(../assets/images/bookmark-off.png) no-repeat center center;
  }
}
.flag a {
  display: block;
  overflow: hidden;
  padding-top: 25px;
  height: 25px;
}
.article-aside .flag-bookmark {
  margin-bottom: 1rem;
  width: auto;
  height: 2.7rem;
  color: transparent;
  transition: background-color 0.3s;
  &.action-unflag {
    background: theme-color('primary') url(../assets/images/bookmark-on.png) no-repeat 1rem center;
  }
  &.action-flag {
    background: theme-color('primary') url(../assets/images/bookmark-off.png) no-repeat 1rem center;
  }
  &:hover {
    background-color: #ab840c;
  }
}
.article-aside .flag a {
  display: block;
  padding-top: 0.8rem;
  height: 2.7rem;
  color: white;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 0.8rem;
}
.flag-my-selection.flag-my-selection-floating {
  position: sticky;
  top: 50px;
  z-index: 120;
}
.flag-aside {
  height: 100%;

  @include make-width-grid(1);
  @include make-padding-grid((0));
  @include make-margin-grid((1.5, 0, 0, 18));
  @include media-breakpoint-down(sm) {
    display: none;
  }
}
.flag-aside .btn-flag-selection {
  padding: 1.3rem 0.2rem;
  background-image: url(../assets/images/bookmark-on.png);
  background-position: left center;
  background-position-x: 0.7rem;
  background-repeat: no-repeat;
}
.flag-aside .btn-flag-selection:before, .flag-aside .btn-flag-selection:after {
  margin-right: 1rem;
  margin-left: 1rem;
  width: 1.5rem;    background-color: transparent;
  }
.flag-display-2 {
  padding: 0;
  max-height: 4rem;
  width: 100%;

  @extend .btn;
  @extend .btn-block;
  @extend .btn-xl;
  @extend .btn-primary;

  .action-flag, .action-unflag {
    width: 100%;
    height: auto;
    background-image: none;
    text-align: center;
    span:before {
      position: relative;
      top: 0.2rem;
      display: inline-block;
      margin-right: 1rem;
      width: 45px;
      height: 25px;
      background-image: url(../assets/images/bookmark-off.png);
      content: " ";
    }
  }

  &:before, &:after {
    display: none;
  }
  .action-unflag {
    span:before {
      background-image: url(../assets/images/bookmark-on.png);
    }
  }

  a {
    position: relative;
    top: -0.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 0 2rem 0;
    width: 100%;
    color: white;
  }
}