@font-face {
  font-weight: normal;
  font-family: 'Dala Floda';
  src: url('../assets/fonts/Dala/DalaFlodaMedium.eot'); /* IE9 Compat Modes */
  src: url('../assets/fonts/Dala/DalaFlodaMedium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/Dala/DalaFlodaMedium.woff2') format('woff2'), /* Super Modern Browsers */
       url('../assets/fonts/Dala/DalaFlodaMedium.woff') format('woff'), /* Pretty Modern Browsers */
       url('../assets/fonts/Dala/DalaFlodaMedium.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../assets/fonts/Dala/DalaFlodaMedium.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-weight: normal;
  font-style: italic;
  font-family: 'Dala Floda';
  src: url('../assets/fonts/Dala/DalaFlodaMediumItalic.eot'); /* IE9 Compat Modes */
  src: url('../assets/fonts/Dala/DalaFlodaMediumItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/Dala/DalaFlodaMediumItalic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../assets/fonts/Dala/DalaFlodaMediumItalic.woff') format('woff'), /* Pretty Modern Browsers */
       url('../assets/fonts/Dala/DalaFlodaMediumItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../assets/fonts/Dala/DalaFlodaMediumItalic.svg#svgFontName') format('svg'); /* Legacy iOS */
}


@font-face {
  font-weight: bold;
  font-style: italic;
  font-family: 'Dala Floda';
  src: url('../assets/fonts/Dala/DalaFlodaItalic.eot'); /* IE9 Compat Modes */
  src: url('../assets/fonts/Dala/DalaFlodaItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/Dala/DalaFlodaItalic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../assets/fonts/Dala/DalaFlodaItalic.woff') format('woff'), /* Pretty Modern Browsers */
       url('../assets/fonts/Dala/DalaFlodaItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../assets/fonts/Dala/DalaFlodaItalic.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-weight: bold;
  font-family: 'FaithAndGloryTwo';
  src: url('../assets/fonts/FaithAndGloryTwo/FaithAndGloryTwo.eot'); /* IE9 Compat Modes */
  src: url('../assets/fonts/FaithAndGloryTwo/FaithAndGloryTwo.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/FaithAndGloryTwo/FaithAndGloryTwo.woff2') format('woff2'), /* Super Modern Browsers */
       url('../assets/fonts/FaithAndGloryTwo/FaithAndGloryTwo.woff') format('woff'), /* Pretty Modern Browsers */
       url('../assets/fonts/FaithAndGloryTwo/FaithAndGloryTwo.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../assets/fonts/FaithAndGloryTwo/FaithAndGloryTwo.svg#svgFontName') format('svg'); /* Legacy iOS */
}