#footer {
  @include make-row();
  @include make-padding-grid((1, 1, 0));
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: $white;

  img.footer-logo-laptop {
    @include make-width-grid(5);
    @include make-margin-grid((0, 0, 0, 0));
    max-width: 256px;
    //MOBILE
    @include media-breakpoint-down(sm) {
      display: none;
    }
  }
  img.footer-logo-mobile {
    display: none;
    @include make-width-grid(8);
    @include make-margin-grid((1, 0, 1, 0));
    //MOBILE
    @include media-breakpoint-down(sm) {
      display: block;
    }
  }

  .footer-nav {
    padding: 0;
    justify-content: space-around;
  }

  .footer-nav .nav-link {
    color: $black;
    font-family: $font-family-primary !important;
    font-weight: 400;
    font-size: $font-size-base-upper;
    text-transform: uppercase;
    //MOBILE
    @include media-breakpoint-down(sm) {
      flex: 1 0 33%;
      padding: 0.5rem 0.5rem;
    }
  }

  .nav-socials {
    @include make-width-grid(3);
    @include make-margin-grid((0, 0, 0, 0.5));
    font-size: $navsocial-1-font-size;
    a {
      color: $gray-400 !important;
    }
    //MOBILE
    @include media-breakpoint-down(sm) {
      @include clear-width();
      @include make-margin-grid((1.2, 0, 1.2, 0.5));
      font-size: $mobile-navsocial-1-font-size;
      width: 100%;
      a {
        @include make-margin-grid((0, 1));
      }
    }
  }

  .footer-copyright {
    @include make-width-grid(24);
    @include make-padding-grid((0.3, 0));
    color: theme-color('gray') !important;
    text-align: center;
    font-size: $font-size-sm;
    @include media-breakpoint-down(sm) {
      @include make-margin-grid((0.2, 0, 1.5, 0));
      font-size: $mobile-font-size-sm;

    }
  }
}
