/** DEFAULT CARD COVER FULL SCREEN WITH QUOTES **/
.heading {
  @include make-row();
  @include make-width-grid(24);

  .heading-title {
    padding: 0;
    font-weight: 100;
    font-size: $h2-font-size;
    line-height: $h2-font-size + 0.5;

    @include make-margin-grid((0, 0, 0.7, 0));
    @include media-breakpoint-down(sm) {
      font-size: $mobile-h2-font-size;
      line-height: $mobile-h2-font-size + 0.5;
    }
  }
  .heading-subtitle {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-weight: 400;
    font-size: $font-size-base-upper;

    @include make-margin-grid((0, 0, 0.2, 0));
    //MOBILE
    @include media-breakpoint-down(sm) {
      font-size: $mobile-font-size-base-upper;

      @include make-margin-grid((0, 0, 0.5, 0));
    }
  }
  .heading-body {
    left: 0;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: center;

    @include make-width-grid(21.5);
    @include make-bg-cover();
    @include make-layer-background(5);

    .shadow {
      display: initial;
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+75&0.5+0,0+75 */
      background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0) 75%); /* FF3.6-15 */
      background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0) 75%); /* Chrome10-25,Safari5.1-6 */
      background: radial-gradient(ellipse at center, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0) 75%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      color: $white; // No matter bg-color on images
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    }
  }
  &.heading-reverse {
    flex-direction: row-reverse;
    .heading-body {
      right: 0;
      left: auto;
    }
  }

  .heading-body-background-1 {
    top: 0px;
    height: 100%;

    @include make-width-grid(12);
    @include make-layer-background(0);
    @include make-bg-pattern('primary');
  }

  .heading-body-background-2 {
    @include make-width-grid(11);
    @include make-layer-background(1);
    @include make-bg-pattern('secondary');
    @include make-grid-sized-prop('top', 1.8);
    @include make-cover-height-grid(3);
  }

  .heading-figure  img {
    width: 100%;
    height: 100%;
  }
}

/** BASIC PAGE COVER **/
.heading-display-1 {
  height: auto;

  .heading-header {
    text-align: center;

    @include make-width-grid(24);
    @include make-padding-grid((1, 2));
    //MOBILE
    @include media-breakpoint-down(sm) {
      @include make-padding-grid((1, $mobile-heading-padding));
    }
    .heading-subtitle {
      text-transform: none;
      font-weight: normal;
      font-size: $font-size-base;
      font-family: $font-family-primary;
      //MOBILE

      @include media-breakpoint-down(sm) {
        font-size: $mobile-font-size-base;
      }
    }
    .heading-title {
      margin: 0;
      font-size: $h1-font-size;
      font-family: $font-family-secondary;
      line-height: $h1-font-size + 1rem;

      @include media-breakpoint-down(sm) {
        font-size: $mobile-h1-font-size;
        line-height: 1.1;

        @include make-margin-grid((0.5, 0, 0, 0));
      }
    }
  }
  .heading-figure {
    @include make-shape(22, 10);
    @include make-margin-grid((0, 2, 0, 0));
    @include make-layer-middle();
    //MOBILE
    @include media-breakpoint-down(sm) {
      @include make-shape(20, 18);
      @include make-margin-grid((0, 2, 0, 0));
    }
  }
  &.heading-reverse .heading-figure {
    @include make-margin-grid((0, 0, 0, 2));
    //MOBILE
    @include media-breakpoint-down(sm) {
      @include make-margin-grid((0, 0, 0, 2));
    }
  }
  .heading-pattern {
    @include make-shape-square(11);
    @include make-margin-grid((-8, 1, 2, 0));
    @include make-bg-pattern('secondary');
    @include make-layer-bottom();
    //MOBILE
    @include media-breakpoint-down(sm) {
      @include make-shape(18.5, 18);
      @include make-margin-grid((-14, 2, 2.5, 3.5));
    }
  }
  &.heading-reverse .heading-pattern {
    @include make-margin-grid((-8, 0, 2, 1));
    //MOBILE
    @include media-breakpoint-down(sm) {
      @include make-margin-grid((-14, 3.5, 2.5, 2));
    }
  }
  .heading-body {
    align-items: flex-start;
    flex-direction: row;
    height: initial;

    @include make-width-grid(12);
    @include make-padding-grid((2, 1, 1, 2));
    @include make-layer-top();
    //MOBILE
    @include media-breakpoint-down(sm) {
      order: 3;

      @include clear-width();
      @include make-padding-grid((2, $mobile-heading-padding, 1, $mobile-heading-padding));
    }
  }
  .heading-line {
    position: absolute;
    width: 2px;
    background-color: theme-color('dark');

    @include make-height-grid(3.5);
    /*@include make-margin-grid((-3.5, 0, 0, 4));*/
    @include make-margin-grid((-3.5, 0, 0, 0));
    //MOBILE
    @include media-breakpoint-down(sm) {
      @include make-height-grid(10);
      @include make-margin-grid((-13, 0, 0, 8));
    }
  }  
}

/** ARTICLE PAGE COVER **/
.heading-display-2 {
  //LAPTOP
  @include media-breakpoint-up(sm) {
    height: auto;

    @include make-row();
    .heading-figure {
      @include make-shape(13, 11);
      @include make-clip-left();
      @include make-margin-grid((0, 0, 1, 0));
    }
    &.heading-reverse .heading-figure {
      @include make-clip-right();
    }
    .heading-header {
      flex-direction: column;
      justify-content: center;

      @include make-row();
      @include make-width-grid(11);
      @include make-padding-grid((4.5, 2, 1, 2));
    }
    &.heading-reverse .heading-header {
      text-align: right;
    }
    .heading-subtitle {
      color: theme-color("primary");
    }
    .heading-title {
      font-size: $h2-font-size * 1.5;
      line-height: $h2-font-size * 1.5;
    }
    .blockquote {
      @include make-margin-grid((0, 1));
    }
  }
  @include media-breakpoint-down(sm) {
    flex-direction: column;
    height: auto;
    //MOBILE
    .heading-header {
      @include media-breakpoint-down(sm) {
        @include make-padding-grid(($mobile-heading-padding));
      }
    }
    .heading-subtitle {
      color: theme-color("primary");
    }
    .heading-figure img  {
        width: 100%;
        height: auto;
    }
    .heading-figure {
      @include clear-shape();
      @include clear-width();
    }
    .blockquote .quote {
        font-size: $mobile-blockquote-heading-font-size !important;
    }
  }

}

.article-2col .heading-display-2 .heading-header {
  @include media-breakpoint-down(sm) {
    @include make-padding-grid((1, 5, 1, 5));
  }
}

.heading-display-2-profile {
  //MOBILE
  @include media-breakpoint-down(sm) {
    align-items: center;
    margin-bottom: -6rem;
    .heading-figure {
      order: 1;
      margin-top: -2rem;

      @include make-width-grid(10);
    }
  }
  .heading-header {
    color: theme-color('gray');        text-align: center;
    .heading-subtitle {
      text-transform: none;
      font-weight: normal;
      font-size: $font-size-base;
      font-family: $font-family-primary;
    }
    .heading-title { margin: 1rem 0 1rem 0;
      color: $white;  font-family: $font-family-secondary; 
      }
  }
}

.heading-display-2-training {
  justify-content: center;

  @include media-breakpoint-down(sm) {
    .blockquote {
      @include make-padding-grid((6, 1, 4, 1));
    }

    picture {
      display: none;
    }
  }  
  .heading-header {
    color: theme-color('light');        text-align: left;
    .heading-title {
      text-transform: uppercase;
      font-size: $h2-font-size * 0.5;
      line-height: $h2-font-size * 0.5;
    }
  }
  
  .blockquote.blockquote-display-2 {
    margin: 0;

    @include make-padding-grid((0, 0, 0, 0));
    .quote::before,
    .quote::after,
    .blockquote-footer {
      color: theme-color('light');
    }
    &.quote-variant-2 .quote::before {
      top: 0 !important;
      left: 0 !important;
      //MOBILE

      @include media-breakpoint-up(sm) {
        margin: 0 0 0 -2rem !important;
      }
    }
    .blockquote-footer::before {
      background-color: theme-color('light');
    }
    .quote-author-info {
      font-size: $h3-font-size * 0.3;
      line-height: $h3-font-size * 0.3;
    }
  }
}

/** ARTICLE PAGE COVER **/
.heading-display-3 {
  height: auto;
  color: theme-color('light');
  //LAPTOP

  @include make-row();
  .heading-body {
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-size: auto;

    @include make-row();
    @include make-shape(22, 10);
    @include make-bg-pattern('secondary');
    @include make-padding-grid(1);
    //MOBILE
    @include media-breakpoint-down(sm) {
      @include clear-shape();
      @include clear-width();
      @include make-padding-grid($mobile-heading-padding);
    }
    .heading-title {
      @include media-breakpoint-down(sm) {
        text-align: center;
      }
    }
    .heading-subtitle {
      color: theme-color('primary');
      font-weight: normal;
      font-size: $heading-3-subtitle-font-size;

      @include make-margin-grid((0, 0, 0.8, 0));
      @include media-breakpoint-down(sm) {
        @include make-margin-grid((0, 0, 4, 0));
      }
    }
    .heading-list {
      text-align: center;
      text-transform: uppercase;
      font-size: $heading-3-subtitle-font-size;

      @include make-margin-grid((0, 0, 1.8, 0));
      @include list-inline-flex();
      //MOBILE
      @include media-breakpoint-down(sm) {
        @include make-margin-grid((0, 0, 0, 0));
      }
    }
    .btn {
      @include btn('primary');
      @include btn-lg();
      //MOBILE
      @include media-breakpoint-down(sm) {
        position: fixed;
        bottom: 0px;
        left: 0px;
        width: 100%;
      }
    }
  }
  &.heading-reverse .heading-body {
    margin-left: auto;
  }

  .heading-footer {
    align-items: center;
    justify-content: center;

    @include make-row();
    @include make-shape-square(11);
    @include make-margin-grid((-8, 1, 0, auto));
    @include make-padding-grid((9, 1, 1, 1));
    @include make-bg-pattern('primary');
    //MOBILE
    @include media-breakpoint-down(sm) {
      display:none;
    }
    .btn {
      @include btn-outline('light');
    }
  }
  &.heading-reverse .heading-footer {
    @include make-margin-grid((-8, auto, 0, 1));
  }
  .heading-list .text-important {
    //MOBILE
    @include media-breakpoint-down(sm) {
      display: inline-block;
      margin-left: 0.5em;
    }
  }

  @each $color, $value in $theme-colors {
    &.heading-#{$color} {
      $reverse-color: get-reverse-color($color);
      .heading-body  {
        @include make-bg-pattern($color);
      }
      .heading-footer {
        @include make-bg-pattern($reverse-color);
      }
      .heading-subtitle, .heading-list .text-important {
        color: theme-color($reverse-color);
      }
      .heading-body .btn {
        @include btn($reverse-color);
      }
    }
  }
}

/** TRAINING LIST **/
.heading-display-6 {
  justify-content: baseline;
  height: auto;
  //MOBILE

  @include media-breakpoint-down(sm) {
    /*margin: -3.6rem 3.7rem -1rem -3.6rem;
    @include make-padding-grid((1, 0, 0.5, 0));*/
    .heading-pattern {
      display: none;
    }
    .heading-body {
      @include make-width-grid(24);
      @include make-padding-grid((0));

      form {
        align-items: center;
      }
      .col {
        flex-basis: unset;
      }
      .form-actions {
        margin-top: 2.5rem;
      }
    }
    a.btn-flag-selection {
      width: 100%;
      font-size: 0.9rem;

      @include make-margin-grid((0, 0, 1.5, 0));

      &::before {
        display: block;
        margin-right: 1rem;
        width: 45px;
        height: 25px;
        background-color: transparent;
        background-image: url(../assets/images/bookmark-on.png);
      }
      &::after {
        display: none;
      }
    }
  }
  .heading-header {
    text-align: center;

    @include make-width-grid(24);
    @include make-padding-grid((1, 2));
    //MOBILE
    @include media-breakpoint-down(sm) {
      @include make-padding-grid((1, $mobile-heading-padding));
    }
    .heading-subtitle {
      text-transform: none;
      font-weight: normal;
      font-size: $font-size-base;
      font-family: $font-family-primary;
      //MOBILE

      @include media-breakpoint-down(sm) {
        font-size: $mobile-font-size-base;
      }
    }
    .heading-title {
      margin: 0;
      font-size: $h1-font-size;
      font-family: $font-family-secondary;
      line-height: $h1-font-size + 1rem;

      @include media-breakpoint-down(sm) {
        font-size: $mobile-h1-font-size;
        line-height: 1.1;

        @include make-margin-grid((0.5, 0, 0, 0));
      }
    }
  }
  .heading-body {
    @include make-width-grid(20);
    @include make-margin-grid((0,0,0,2));
    @include make-layer-middle();
    //MOBILE
    @include media-breakpoint-down(sm) {
       @include make-margin-grid((0, 2, 0, 0));
    }
  }
  .heading-footer {
    //MOBILE
    @include media-breakpoint-down(sm) {
      text-align: center;            @include make-width-grid(24);
      @include make-margin-grid((0, 0, 2, 0));
      h2 {
        font-weight: 300;
      }
    }
  }
  .heading-pattern {
    @include make-shape(11, 3.5);
    @include make-margin-grid((-2, 0, 0, 12));
    @include make-bg-pattern('secondary');
    @include make-layer-bottom();
    //MOBILE
    @include media-breakpoint-down(sm) {
      @include make-shape(18.5, 18);
      @include make-margin-grid((-14, 2, 2.5, 3.5));
    }
  }
  .card-display-6 {
    flex-direction: row;
    justify-content: center;
    .card-header {
      width: 100%;
    }
    .form-actions {
      text-align: center;
    }
    .card-body {
      background-color: theme-color('dark');
      //MOBILE

      @include media-breakpoint-down(sm) {
        @include make-padding-grid((0, 0, 1, 0));
      }
    }
  }
}

/** ARTICLE PAGE COVER **/
.heading-display-no-max-width {
  min-width: unset;
  width: 100%;

  .heading-header {
    margin-bottom: 3rem;
    padding: 0;
    min-width: unset;
    width: 100%;
  }
}