//list color dot
.list-display-1 {
  display: inline-block;
  list-style: none;
  position: relative;
  padding-left: 1.5rem;
  li::before {
    content: "•";
    position: absolute;
    left: 0;
    color: theme-color('primary');
    font-size: 2rem;
    line-height: 1.5rem;
  }
}

//list color arrow
.list-display-2 {
  display: inline-block;
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  padding-left: 0px;
  justify-content: space-between;
  //MOBILE
  @include media-breakpoint-down(sm) {
    font-size: 1.7rem;
  }
  li {
    position: relative;
  }
  li::before {
    content: "\f054";
    font-family: FontAwesome;
    left: - $font-size-base;
    line-height: 1.6rem;
    vertical-align: middle;
    color: theme-color('primary');
    font-size: 0.6rem;
    margin-right: 1rem;
    //MOBILE
    @include media-breakpoint-down(sm) {
      font-size: 1.1rem;
    }
  }
  li + li {
    text-align: center;
    //MOBILE
    @include media-breakpoint-down(sm) {
      text-align: left;
    }
  }
  li:nth-child(3n) {
    text-align: right;
    //MOBILE
    @include media-breakpoint-down(sm) {
      text-align: left;
    }
  }
  li:nth-child(4n) {
    text-align: left;
  }
}

//list with hyphen inline 3
.list-display-3 {
  display: inline-block;
  list-style: none;
  position: relative;
  padding-left: 0.5rem;
  li::before {
    content: "-";
    position: absolute;
    left: 0;
    line-height: 1.5rem;
  }
}

//list color stars
.list-display-4 {
  display: inline-block;
  list-style: none;
  position: relative;
  padding-left: 1.5rem;
  li::before {
    content: "★";
    position: absolute;
    left: 0;
    color: theme-color('primary');
    font-size: 0.8rem;
    line-height: 1.4rem;
  }
}


.list-inline {
  display: flex;
  flex-flow: row wrap;
}



