.card {
  .list-group,
  .list-group-item {
    margin: 0;
    padding: 0;
  }
}
.card-steps .list-group {
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
  text-align: center;

  .number {
    @extend .number-2;
    // @extend .number-2.number-cut;
  }

  .title {
      position: relative;
      margin-top: 0.6rem;
      width: 100%;
      font-weight: 300;
      font-size: 1rem;
      font-family: $font-family-base;
      line-height: 1.1;
  }

  .subtitle  {
    text-transform: uppercase;
    font-size: $font-size-base-upper;
  }

}

.card-steps:not([class*='card-steps-display']), .card-steps.card-steps-display-3 {
  .list-group-item {
    display: block;
    box-sizing: border-box;
    width: 50%;
  }
  .list-group-item:nth-child(even){
    float: right;
    padding: 1% 0% 1% 1%;
  }
  .list-group-item:nth-child(odd){
    float: left;
    padding: 1% 1% 1% 0%;
  }
  .list-group-item:nth-child(2) {
    margin-top: 25%;
  }
  .list-group-item:first-child {
    padding-top: 0px;
  }
  .list-group-item:last-child {
    padding-bottom: 0px;
  }
  .item {
    @include make-square-standard();
  }

  .item-content {
    position: absolute;
    top:0px;
    flex-flow: column;
    justify-content: center;
    padding: 0;
    width: 100%;
    height: 100%;

    @include make-row();
  }

  &.card-reverse {
    .list-group-item:nth-child(even) {
      float: left;
      padding: 1% 1% 1% 0%;
    }
    .list-group-item:nth-child(odd) {
      float: right;
      padding: 1% 0% 1% 1%;
    }
  }
}

.list-group-2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  /* DESKTOP */

  @include media-breakpoint-up(sm) {
    .list-group-item:nth-last-child(2){
      @include make-margin-grid((0));
    }   
  }  
  /* MOBILE */
  @include media-breakpoint-down(sm) {
    @include make-margin-grid((-1.5, -3.5));
    .list-group-item {
      @include make-width-grid(20);
      @include make-margin-grid((0, 0, 2, 0));
    }
  }

  .list-group-item:nth-child(even){
    float: none;
    padding: 0;
  }
  .list-group-item:nth-child(odd){
    float: none;
    padding: 0;
  }
  .list-group-item:nth-child(2) {
    margin-top: 0;
  }
  .list-group-item {
    display: flex;
    flex-basis: 50%;
    justify-content: center;
    min-width: 0px; /* IE11 hack */

    @include make-width-grid(8);
    @include make-margin-grid((0, 0, 1.5, 0));
  }

  .list-group-item:nth-last-child(1) {
    @include make-margin-grid((0));
  }
}

.card-steps-display-2 .list-group {
  flex-direction: row;

  @include make-row();
  @include media-breakpoint-down(sm) {
    .list-group-item + .list-group-item {
      border-top: 1px solid #ccc;
    }
    .list-group-item:nth-child(2n) {
        border-right: none;
    }
    .list-group-item:nth-child(2) {
        border-top: none;
    }
  }

  .list-group-item {
    @include make-col(8);
    @include make-padding-grid((1, 0, 1, 0));
    //MOBILE
    @include media-breakpoint-down(sm) {
      border-right: 1px solid #ccc;

      @include make-col(12);
    }
  }
  .item {
    flex-direction: column;
    justify-content: center;
    margin: 0px;
    padding: 0px;
  }
  .item-content {
    position: relative;
    flex-flow: column;

    @include make-row();
  }

  .title  {
    color: theme-color('dark');
  }
  .subtitle  {
    color: theme-color('dark');
  }
}

.card.card-display-8 ul.card-list-group {
  @include media-breakpoint-down(sm) {
    @include make-margin-grid((1.6, 0, 0, 0));
  }
}