/** MEGA MENU ARTICLE BLOCK **/
.megamenu {
  @include make-row();
  @include make-bg-pattern('primary');
  justify-content: space-between;
  position: absolute;
  top: 0px;
  left: 0px;
  min-height: 100vh;
  width: 100%;
  z-index: $zindex-megamenu;
  transition-property: margin-left;
  transition-duration: 1s;
  margin-left: -100%;
  &.collapse.show {
    display: flex;
  }

  @include media-breakpoint-down(sm) {
    justify-content: center;
  }
}

.megamenu-wrapper {  
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  display: none;
}

/** MEGAMENU SOCIAL LINKS **/
.megamenu-aside {
  @include make-row();
  @include make-width-grid(0.6);
  @include make-margin-grid((0, 0.4, 0, 1));
  height: 100vh;
  flex-direction: column;
  justify-content: center;

  .megamenu-social,
  .megamenu-social li {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    padding: 1rem 0;
    transition: padding 1s;
  }
  .megamenu-social li a {
    @include make-shape(0.6, 0.6);
    display: inline-block;
    text-align: center;
    @include make-margin-grid((0.1, 0));
    color: $white;
    transition: color 0.5s;
  }
  .megamenu-social li a:hover {
    color: theme-color('secondary');
  }

  @include media-breakpoint-down(sm) {
    display: none;
  }
}

/** MEGA MENU BODY **/
.megamenu-body {
  @include make-width-grid(20);
  @include make-margin-grid((0, 2, 0, 0));

  @include media-breakpoint-down(sm) {
    margin: 0px;
    flex: 1 0 100%;
  }
}

/** MEGA MENU NAV **/
.megamenu-nav {
  @include make-row();
  flex-direction: column;
  justify-content: center;
  /*margin-left: -3rem;*/
  transition: margin-left 0.7s;
  .nav-item {
    border: none !important;
    width: 100%;
  }

  .nav-link {
    color: $white !important;
  }
  .nav-link[href='#'], .nav-link[href=''] {
    pointer-events: none;
  }
  .nav-item:hover > .nav-link, .nav-link:hover {
    color: theme_color('secondary') !important;
  }

  > .nav-item > .nav-link {
    font-size: $megamenu-font-size;
    font-family: $font-family-secondary;
    margin: 0.5vh 0;
    text-transform: inherit;
    padding: 0;
    cursor: pointer;
    //MOBILE
    @include media-breakpoint-down(sm) {
      font-size: $mobile-megamenu-font-size;      
    }
  }

  .subnav-container {
    @include make-row();
    @include make-margin-grid((0, 0, 0, 13));
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    position: absolute;
    height: 5rem;
    .subnav-line {
      @include make-width-grid(0);
      @include make-margin-grid((0, 0.5));
      display: block;
      height: 2px;
      background-color: theme_color('secondary');
      overflow: hidden;
      transition: all 0.5s;
    }

    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      /* IE10+ CSS styles go here */
      margin-top: -6.5% !important;
    }
  }
  &:hover, .nav-item:hover .subnav-container {
    opacity: 1;
    pointer-events: inherit;
  }
  .nav-item:hover .subnav-container .subnav-line {
    @include make-width-grid(1);
  }
  .nav-item .subnav-container {
    transition: all 0.5s;
  }
  @include media-breakpoint-down(sm) {
    .subnav-container {
      @include make-margin-grid((-0.2, auto, auto, auto));
      .subnav-line {
        display: none;
      }
      height: 0px;
      position: relative;
      overflow: hidden;
    }
    .nav-item:hover .subnav-container {
      opacity: 1;
      pointer-events: inherit;
      height: 150px;
    }
  }
}

.megamenu-subnav {
  @include make-row();
  flex-direction: column;
  justify-content: center;

  .nav-link {
    @include make-margin-grid((0.15, 0));
    padding: 0;
    font-family: $font-family-base;
    text-transform: inherit;
    text-align: left;
  }

  @include media-breakpoint-down(sm) {
    .nav-link {
      text-align: center;
    }
  }
}


