

.number {
  font-family: $font-family-secondary;
}

.number-0 {
  font-family: $font-family-secondary;
  font-weight: 200;
  width: 100%;
  font-size: $number-0-font-size;
  overflow: hidden;
  line-height: 0.9;
  @include media-breakpoint-down(sm) {
    font-size: $mobile-number-0-font-size;
  }
  &.number-cut {
    height: $number-0-cut-height;
    overflow: hidden;
    display: inline-block;
    @include media-breakpoint-down(sm) {
      height: $mobile-number-0-cut-height;
    }
  }
}

.number-1 {
  display: inline-block;
  font-family: $font-family-secondary;
  font-size: $number-1-font-size;
  font-weight: 200;
  line-height: 0.6;
  @include media-breakpoint-down(sm) {
    font-size: $mobile-number-1-font-size;
  }
  &.number-cut {
    height: $number-1-cut-height;
    overflow: hidden;
    display: inline-block;    
    @include media-breakpoint-down(sm) {
      height: $mobile-number-1-cut-height;
    }
  }
}

.number-2 {
  // @include make-height-grid(1);
  font-size: $number-2-font-size;
  font-family: $font-family-secondary;
  font-weight: 200;
  line-height: 0.6;
  @include media-breakpoint-down(sm) {
    font-size: $mobile-number-2-font-size;
  }
  &.number-cut {
    height: $number-2-cut-height;
    overflow: hidden;
    display: inline-block;    
    @include media-breakpoint-down(sm) {
      height: $mobile-number-2-cut-height;
    }
  }
}

.number-3 {
  @include make-height-grid(1);
  font-size: $number-3-font-size;
  font-family: $font-family-secondary;
  font-weight: 200;
  @include media-breakpoint-down(sm) {
    font-size: $mobile-number-3-font-size;
  }
  &.number-cut {
    height: $number-3-cut-height;
    overflow: hidden;
    display: inline-block;    
    @include media-breakpoint-down(sm) {
      height: $mobile-number-3-cut-height;
    }
  }
}

