.modal.modal-switcher {
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events:none;
  z-index: $zindex-switcher-close;     
  //MOBILE
  @include media-breakpoint-down(sm) {
    position: absolute;
    z-index: $mobile-zindex-switcher-close;
  } 
}
.show.modal.modal-switcher {
  z-index: $zindex-switcher-open;       
}
.modal-open .modal.modal-switcher {
  padding-right: 0px;
}
.modal.modal-switcher .modal-dialog {
  @include make-width-grid(24);
  @include make-padding-grid((1.5,0,1,1));
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-flow: row nowrap;
  max-width: auto;
  color : theme-color('light');
  overflow: hidden;
  pointer-events:none;
  top: 0;

  //MOBILE
  @include media-breakpoint-down(sm) {
    @include make-padding-grid((1,1,1,0));    
  }    
  .rotate-text {
    display: none;
  }
  .modal-body {
    @include make-bg-pattern('primary');
    @include make-padding-grid((2,0, 2, 1));
    width: 0px;
    flex: 1;
    transition: transform 0.5s ease-in-out;
    pointer-events: fill;
    //MOBILE
    @include media-breakpoint-down(sm) {
      @include make-padding-grid(($mobile-card-padding, 2, $mobile-card-padding, 2));   
      width: 100%;
      order: 2;   
    }      
  }
  .modal-footer {
    @include make-row();
    @include make-width-grid(1);
    padding: 0px;
    margin-left: auto;
    align-items: stretch;
    background-color: theme-color('primary');
    z-index: 2;
    pointer-events: fill;
    flex-direction: column;
    //MOBILE
    @include media-breakpoint-down(sm) {
      @include clear-width;
      width: 100%; 
      background: none;
      align-items: flex-end;   
    }      
  }
  .modal-nav {
    @extend .card-nav-triptych;
  }
  .modal-title {
    text-transform: none;
    font-size: $font-size-base;
  }
  .modal-content {
    @include make-row();
    background: none;
    pointer-events:none;
    padding: 0;
  }
}

.modal.modal-switcher:not(.show) {
  .modal-content {
    margin-left: auto;
  }
  .modal-body {
    opacity: 0;
    transition: transform 0.5s ease-in-out, opacity 0.5s linear 0.5s;
    
    //ANIMATION LAPTOP
    @include media-breakpoint-up(sm) {
      transform: translate3d(100%,0px,0px);
    }
    //ANIMATION MOBILE
    @include media-breakpoint-down(sm) {
      transform: translate3d(0px, -100%,0px);
      pointer-events:none;      
    }
  }

  .modal-footer {
    background-color: transparent;
    transition: background-color 0.5s linear 0.5s;
    width: 8rem;
  }
}
@each $pattern, $value in $bg-pattern-images {
  .show .switcher-#{$pattern} {
    background-image: $value;
    .modal-footer {
      background-color: map-get($theme-colors, $pattern);
    }
  }
}

//BUTTON LAPTOP
.modal-dialog .btn.btn-switcher {
  @include make-width-grid(1);   
  outline: none;
  display: flex;
  flex: 1;
  flex-direction: column;
  font-family: $font-family-base;
  color: $btn-switcher-color;
  font-size: 1rem;
  
  //MOBILE
  @include media-breakpoint-down(sm) {
    @include make-width-grid(7);       
    flex-direction: row;
   }
  &::before, &::after {
    content: " ";
    @include make-height-grid(0.8);
    @include make-margin-grid((0.3, 0));
    width: 1.5px;
    background-color: theme-color('light');
    transition: all 0.5s;
    //MOBILE
    @include media-breakpoint-down(sm) {
      display: none;
    }
  }
  .title {
    transform: rotate(-90deg);
    opacity: 0;
    position: absolute;
    font-size: 81%;
    letter-spacing: 0;
    font-stretch: extra-condensed;
    @include media-breakpoint-down(sm) {
      transform: rotate(0deg);
      color: theme-color('light');
    }
  }
  .title-mobile-close {
    color: theme-color('light');    
    @include media-breakpoint-up(sm) {
      display:none;
    }      
  }
  .line {
    width: 1.5rem;
    display: block;
    height: 1.5px;
    background-color: theme-color('light');
    transform: rotate(-45deg);
    transition: width .25s ease-in-out, display 0 ease-in 0.25s;     
  }
  .line + .line {
    transform: rotate(45deg);
    //MOBILE
    @include media-breakpoint-down(sm) {
      @include make-grid-sized-prop('margin-left', -1.5);
    }
  }
  
}

//BUTTON LAPTOP RIGHT
.modal.modal-switcher:not(.show) {
  .btn.btn-switcher {
    &::before, &::after {
      background-color: $btn-switcher-color;
    }
    .line {
      width: 0;
      transition: width 0.5s, display 0s linear 0.5s;
      padding:0px;
      //MOBILE
      @include media-breakpoint-down(sm) {
        display: none;
      }
    }
    .title {
      opacity: 1;
      position: relative;
      transition: all .5s linear 0.5s;
    }
    .title-mobile-close {
      display:none;
    }
    &::before, &::after {
      content: " ";
      @include make-margin-grid((1, 0));
    }
  } 
}

.modal.modal-switcher.modal-switcher-display-1 {
  //LAPTOP
  @include media-breakpoint-up(sm) {
    display: none;
  }
  &.show {
    position: fixed;
  }
  .modal-dialog {
    padding: 0;
    .modal-content {
      height: 100vh;
    }
    .modal-body {
      background-color: theme-color('dark');
      background-image: unset;
      justify-content: center;
    }
    .modal-footer {
      background-color: theme-color('dark');
      align-items: self-start;

      .line {
        margin-top: 0.5rem;
        position: fixed;
        right: 1rem;
      }
    }
  }
  &:not(.show) .modal-footer {
    width: 100%;
    align-items: center;
  }
  .btn-switcher {
    background-color: $white;    
  }
  //LAPTOP
  @include media-breakpoint-up(sm) {
    .btn-switcher {
      display: none;
    }
  }
  
  &.show {
    .btn-switcher {
      background-color: theme-color('gray-dark');
    }
    label, .bef-links div:first-child, .form-actions {
      display: none;
    }
    .bef-links div a {
      color: $white;
      text-transform: uppercase;
    }
  }
  &:not(.show) {
    .btn-switcher {
      background-color: $white;
    }
    span {
      &:before {
        font-family: FontAwesome;
        display: inline-block;
        vertical-align: middle;
        font-size: 0.85rem;
        content: "\f03a";
        margin-right: 0.4rem;
      }
    }
  }
  .btn-switcher {
    @include make-width-grid(17);
    .title {
      letter-spacing: 0.2rem;
      background-color: $white;
      color: black;
    }
    .title-mobile-close {
      display: flex;
      letter-spacing: 0.2rem;
      color: white;
      background-color: theme-color('gray-dark');
    }
    span {
      color: black;
    }
  }
  &.show .btn-switcher {
    background-color: theme-color('gray-dark');
    @include make-width-grid(24);
  }
}