// Bootstrap variable overrides
//
// Copy variables from `_variables.scss` to this file to override default values
// without modifying source files.
@import "variables/colors";
@import "variables/zindex";

@import "variables/spacing";
@import "variables/grid";
@import "variables/forms";
@import "variables/buttons";

// Options
//
// Quickly modify global styling by enabling or disabling optional features.
$enable-rounded:            false;
$enable-shadows:            false;
$enable-transitions:        true;

// Body
//
// Settings for the `<body>` element.
$body-bg:       $white;
$body-color:    $gray-900 !default;

// Cards
//
$card-spacer-x:            7rem;
$card-spacer-y:            7rem;
$card-border-width:        1px !default;
$card-border-color:        rgba($black,0);
$card-cap-bg:              transparent;
$card-bg:                  transparent;

$border-width:0px;
$border-radius:0px;


// Shaping
//
$shapers: (
  1: 90%,
  2: 80%,
  3: 70%,
  4: 60%,
  5: 50%,
  6: 40%,
  7: 30%
);

// List group

$list-group-bg:                  transparent;
$list-group-border-width:        $border-width;
$list-group-border-radius:       $border-radius;


// Links
//
// Style anchor elements.
$link-color:            theme-color("primary");
$link-decoration:       none !default;
$link-hover-color:      theme-color("secondary");
$link-hover-decoration: none;

$link-color-secondary:            theme-color("secondary");
$link-decoration-secondary:       none !default;
$link-hover-color-secondary:      darken($link-color-secondary, 15%);
$link-hover-decoration-secondary: none;


$blockquote-small-color:  $white;

$text-muted: $gray-500;

// Nav
$nav-link-padding:  1rem 1.3rem;

$navbar-padding-x: 1.5rem;
$navbar-padding-y: ($navbar-padding-x);

$megamenu-color:                $white;
$megamenu-hover-color:          theme-color("secondary");
$megamenu-active-color:         theme-color("secondary");
$megamenu-disabled-color:       rgba($white,.3);

$navbar-light-color:                $white;
$navbar-light-hover-color:          $white;
$navbar-light-active-color:         $white;
$navbar-light-disabled-color:       rgba($white,.3);
$navbar-light-toggler-icon-bg: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#{$navbar-light-color}' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"), "#", "%23") !default;
$navbar-light-toggler-border-color: rgba($black,.1) !default;


$page-container-bg:  $white;


@import "variables/modals";
@import "variables/fonts";