// Font families
$font-family-sans-serif: Oswald, sans-serif;
$font-family-base: Oswald, sans-serif;

$font-family-primary: Oswald, sans-serif;
$font-family-secondary: "Dala Floda", Arial, sans-serif;

$font-family-base: $font-family-sans-serif;

$font-family-monospace:  Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;

// Font range (min, max)
$font-size-range: (
  base:  (xs: 9px, md: 9px, xxl: 19px),
);

//Font weight
$font-weight-normal: 300;

// Font size
$font-size-base: 1rem; // Done
$font-size-xl:   5rem; // Custom
$font-size-lg:   1.80rem;
$font-size-sm:   1rem;
$font-size-xs:   .75rem;
$font-size-base-upper: 80%; // done
$font-size-big: 150%; // Custom
$font-size-bigger: 200%; // Custom

$h1-font-size: 4.8rem; // done blockquote and title page
$h2-font-size: 3rem; // done card title
$h3-font-size: 2.2rem; // done article title and blockquote in page
$h4-font-size: 1.5rem; // done form title
$h5-font-size: 1.25rem !default;
$h6-font-size: 1rem !default;

$display0-size: 10rem;
$display1-size: 4.5rem; //blockquote
$display2-size: 5rem;
$display3-size: 4rem;
$display4-size: 3.5rem !default;

$number-0-font-size: 8rem;
$number-1-font-size: 6rem;
$number-2-font-size: 4rem; // tryptich
$number-3-font-size: $h2-font-size; // carousel display 4

$number-0-cut-height: 5rem;
$number-1-cut-height: 3rem;
$number-2-cut-height: 2rem;
$number-3-cut-height: 2rem; // carousel display 4

$line-height-base: 1.5 !default;

$btn-font-size: 0.80rem;
$modal-title-font-size: 1.7rem;
$modal-message-font-size: 3rem;
$megamenu-font-size: $h2-font-size;

$item-title-font-size: 1.8rem;
$item-2-title-font-size : $h3-font-size;
$item-personae-title-font-size : 1.5rem;

$blockquote-0-font-size: 2rem;
$blockquote-1-font-size: $h1-font-size;
$blockquote-2-font-size: $h3-font-size;
$blockquote-2smaller-font-size: $h4-font-size;

$blockquote-footer-0-font-size: 80%;
$blockquote-footer-1-font-size: 1.3rem;

$blockquote-heading-font-size: $blockquote-2-font-size;


$navsocial-1-font-size: 1.1rem;
$navsocial-2-font-size: 1.5rem;

$navbar-lang-font-size: $font-size-base;

$carousel-slide-title-font-size: 1.2rem;
$carousel-control-icon-font-size: 1.5rem;


$triptych-title-font-size: $h2-font-size;
$triptych-item-title-font-size: $h1-font-size;
$triptych-item-title-sm-font-size: 3.4rem;
$triptych-item-subtitle-font-size: $h4-font-size;


$heading-3-subtitle-font-size: 1.1rem;

$form-label-font-size: $font-size-base;
$form-control-font-size: $font-size-base;
$form-placeholder-font-size: $font-size-base-upper;

// Font range (min, max)
$font-size-range: (
  base:  (xs: 9px, md: 9px, xxl: 19px),
);

// Font size
$mobile-font-size-base: 1rem; // Done
$mobile-font-size-xl:   5rem; // Custom
$mobile-font-size-lg:   1.80rem;
$mobile-font-size-sm:   0.8rem;
$mobile-font-size-xs:   .75rem;
$mobile-font-size-base-upper: 0.9rem; // done

$mobile-h1-font-size: 2.6rem; // done blockquote and title page
$mobile-h2-font-size: 2.35rem; // done card title
$mobile-h3-font-size: 1.7rem; // done article title and blockquote in page
$mobile-h4-font-size: 1.5rem; // done form title
$mobile-h5-font-size: 1.25rem !default;
$mobile-h6-font-size: 1rem !default;

$mobile-display0-size: 10rem;
$mobile-display1-size: 4.5rem; //blockquote
$mobile-display2-size: 5rem;
$mobile-display3-size: 4rem;
$mobile-display4-size: 3.5rem !default;

$mobile-number-0-font-size: 8rem;
$mobile-number-1-font-size: 5rem;
$mobile-number-2-font-size: 4rem; // tryptich
$mobile-number-3-font-size: 2.8rem; // carousel display 4

$mobile-number-0-cut-height: 5.2rem;
$mobile-number-1-cut-height: 2.5rem;
$mobile-number-2-cut-height: 2rem;
$mobile-number-3-cut-height: 2rem;

$mobile-line-height-base: 1.5 !default;

$mobile-btn-font-size: 1.2rem;
$mobile-modal-title-font-size: 1.7rem;
$mobile-modal-message-font-size: 2.5rem;
$mobile-megamenu-font-size: 2.6rem;

$mobile-item-title-font-size: 2.2rem;
$mobile-item-2-title-font-size : $h3-font-size;
$mobile-item-personae-title-font-size : 1.8rem;

$mobile-blockquote-0-font-size: 2rem;
$mobile-blockquote-1-font-size: $mobile-h1-font-size;
$mobile-blockquote-2-font-size: $mobile-h3-font-size;

$mobile-blockquote-footer-0-font-size: 80%;
$mobile-blockquote-footer-1-font-size: 1rem;

$mobile-blockquote-heading-font-size: 2.35rem;

$mobile-navsocial-1-font-size: 1.4rem;
$mobile-navsocial-2-font-size: 1.5rem;

$mobile-navbar-lang-font-size: 1.4rem;

$mobile-carousel-slide-title-font-size: 1.2rem;
$mobile-carousel-control-icon-font-size: 2rem;

$mobile-triptych-title-font-size: $mobile-h2-font-size;
$mobile-triptych-item-title-font-size: $mobile-h1-font-size;
$mobile-triptych-item-title-sm-font-size: 2.6rem;
$mobile-triptych-item-subtitle-font-size: 1.2rem;

$mobile-heading-3-subtitle-font-size: 1.1rem;

$mobile-form-filter-header: 1.8rem;

$mobile-form-label-font-size: 1.3rem;
$mobile-form-control-font-size: 1.3rem;
$mobile-form-placeholder-font-size: $mobile-font-size-base-upper;
