:root {
  --max-width: 800px;
  --padding: 3rem;
}

.cover {
  justify-content: center;
  max-height: 90vh;
}

.cover img {
  margin: 0 auto;
  width: 100%;
  margin-block-end: 2rem;
  inline-size: 100vw;
  max-inline-size: 1920px;
  object-fit: cover;
}

.drawing img {
  margin: 0 auto;
  width: 80%;
}

.hljs {
  padding: 1rem;
}

img {
  margin-block-start: 1rem;
  margin-block-end: 1rem;

  inline-size: 100%;
}

ul,
ol {
  padding-inline-start: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

li {
  margin-top: 0.7rem;
}

p {
  margin-block-start: 1em;
  margin-block-end: 1em;
}

.inspired {
  font-style: italic;
}

.divider {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-block-start: 4rem;
  margin-block-end: 4rem;
}

.divider span {
  width: 3px;
  height: 3px;
  background-color: var(--text-color);
  border-radius: 50%;
}
