@import "/assets//hilightjs.css";

:root {
  --background: #ffffff;
  --background-stand-out: rgba(0, 0, 0, 0.05);
  --color-primary: hsl(7, 79%, 55%);
  --text-color: rgba(0, 0, 0, 0.9);
  --text-muted: rgba(0, 0, 0, 0.4);
  --title-color: #222222;
  --stand-out-color: rgba(10, 8, 8, 0.6);
  --font-body: "Chivo", serif;
  --font-title: "Playfair Display", serif;
  --title-line-height: 2.5rem;
  --text-line-height: 1.8rem;
  --base: 0.8rem;
  --font-size: 16px;
  --project-spacing: 2.5rem;
  --max-font-size: 20px;
  --min-font-size: 16px;
  --min-width: 640px;
  --max-width: 1200px;
  --max-width-post: 800px;
  --padding: clamp(1rem, 4vw, 3rem);
  --radius: 5px;
}
/* For fluid font calculation */
:root {
  --max-font-size-stripped: 20;
  --min-font-size-stripped: 16;
  --min-width-stripped: 640;
  --max-width-stripped: 1200;
}

.dark-mode {
  --color-primary: rgb(231, 72, 50);
  --text-color: rgba(255, 255, 255, 0.85);
  --title-color: #efefef;
  --stand-out-color: rgba(255, 255, 255, 0.6);
  --background: #222;
  --background-emphases: #383737;
  --background-stand-out: rgba(255, 255, 255, 0.07);
  --text-muted: rgba(255, 255, 255, 0.4);
}

/* Fluid typography formula */
@media (min-width: 640px) and (max-width: 1199px) {
  :root {
    --font-size: calc(
      var(--min-font-size) + (var(--max-font-size-stripped) - var(--min-font-size-stripped) - 1) *
        (100vw - var(--min-width)) / (var(--max-width-stripped) - 1 - var(--min-width-stripped))
    );
  }
}

/* Define max font size */
@media (min-width: 1200px) {
  :root {
    --font-size: 21px;
  }
}

html {
  font-size: var(--font-size);
}

body {
  background-color: var(--background);
  color: var(--text-color);
  font-family: var(--font-body);
  letter-spacing: 0.05rem;
  line-height: var(--text-line-height);
  margin: 0;
  opacity: 0;
}

main {
  margin: 0 auto;
  max-inline-size: var(--max-width);
  padding-block-end: var(--padding);
  padding-inline-end: var(--padding);
  padding-inline-start: var(--padding);
}

header {
  margin: 0 auto;
  max-inline-size: var(--max-width);
  padding: 0 var(--padding) 4rem var(--padding);
}

header section {
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* Reset */
pre {
  margin: 0;
}

p {
  margin: 0;
}

/* Nav */
nav-menu {
  margin-top: 1rem;
}

nav-menu a.active {
  color: var(--color-primary);
}

nav-menu a + a {
  margin-inline-start: 1rem;
}

.bar {
  display: flex;
  font-size: 0.6em;
  justify-content: space-between;
  margin-block-end: var(--padding);
  max-inline-size: var(--max-width);
  width: calc(100%);
}

.bar a,
.bar .button {
  color: var(--text-muted);
}

dark-mode-toggle {
  margin-inline-start: auto;
}

dark-mode-toggle::before {
  content: "\2600";
  display: inline-block;
  margin-inline-end: 0.2rem;
}

.theme-loaded {
  opacity: 1;
}

.dark-mode dark-mode-toggle::before {
  content: "\263D";
  display: inline-block;
  margin-inline-end: 0.2rem;
}
/* Headline */

.headline {
  color: var(--font-title);
  display: flex;
  flex: 1;
  font-family: var(--font-title);
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 0.2rem;
  line-height: 2.2rem;
  margin: 0;
  padding-inline-end: 2rem;
}

/* Presentation */
.first-letter {
  float: left;
  font-size: 4.48rem;
  line-height: 4.48rem;

  margin-inline-end: 5px;
}

.statement {
  background: var(--background-stand-out);
  border-radius: var(--radius);
  color: var(--stand-out-color);
  padding: 1.5rem 2rem;
}

.statement-emphases {
  color: var(--title-color);
  display: block;
  font-size: 1.5rem;
  margin-bottom: 0.4rem;
}

.statement-title {
  color: #ccc;
  display: block;
  margin-block-end: 1rem;
}

/* project */

.project,
.project-layout-2,
.project-layout-3 {
  align-items: center;
  box-sizing: border-box;
  display: grid;
  grid-template-areas: "body images";
  grid-template-columns: 1fr 1fr;
  min-height: 80vh;
  padding: 4rem 0;
}

.project-body {
  grid-area: body;
  margin-block-end: var(--padding);
  margin-inline-end: var(--padding);
}

.project-images,
.project-2x-images {
  align-items: stretch;
  align-self: stretch;
  display: grid;
  gap: 4vh;
  grid-area: images;
  overflow: hidden;
  position: relative;
}

picture {
  display: flex;
}

.project-image-preview {
  block-size: 100%;
  border-radius: var(--radius);
  inline-size: 100%;
  object-fit: cover;
}

.project-title {
  align-self: start;

  color: var(--title-color);
  display: inline-block;
  font-family: var(--font-title);
  font-size: 1.7rem;
  font-weight: bold;
  justify-self: start;
  line-height: var(--title-line-height);
  padding-inline-end: 5px;
}

.project-title:after {
  border-block-end: 2px solid var(--color-primary);
  content: "";
  display: block;
  padding-block-start: 0.8rem;
  width: 5vw;
}

.project-content {
  margin-block-end: 1.5rem;
}

/* project layout 2 */

.project-layout-2 {
  grid-template-areas: "images body";
  grid-template-columns: 1fr 40%;
}

.project-layout-2 .project-body {
  margin-inline-end: 0;
  margin-inline-start: var(--project-spacing);
}

/* project layout 3 */

.project-layout-3 {
  grid-template-areas:
    "body"
    "images";
  grid-template-columns: 1fr;
  grid-template-rows: min-content auto;
}

.project-layout-3 .project-image-preview {
  height: auto;
}

.project-layout-3 .project-body {
  flex: 1 0 calc(50% - 2.5rem);
  margin-inline-end: 0;
}

.project-layout-3 .project-images {
  grid-template-columns: 1fr 1fr;
}

/* Links  */
.project-links a + a {
  margin-left: 1rem;
}

a,
button,
.button {
  background: none;
  border: none;
  color: var(--text-color);
  cursor: pointer;
  display: inline-block;
  font-style: italic;
  line-height: 1.5rem;
  outline: none;
  text-decoration: none;
}

a:hover,
button:hover,
.button:hover {
  color: var(--color-primary);
}

/* List */
.list {
  display: grid;
  gap: 2rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.list-item-title {
  font-family: var(--font-title);
  font-size: 1.1rem;
  font-weight: bold;
}

.list-item-date {
  display: block;
  font-size: 0.7em;
  font-style: italic;
  line-height: 2em;
}
/* Responsive */

@media only screen and (max-width: 640px) {
  .project,
  .project-layout-2,
  .project-layout-3 {
    display: block;
    height: auto;
  }
  .project-body,
  .project-layout-2 .project-body,
  .project-layout-3 .project-body {
    margin: 0 0 var(--project-spacing) 0;
  }
  .project-layout-3 .project-images {
    grid-template-columns: 1fr;
  }
}
