@import "/assets//hilightjs.css";

:root {
  --background: #ffffff;
  --statement-background: rgba(0, 0, 0, 0.05);

  --color-primary: hsl(7, 79%, 55%);
  --text-color: rgba(0, 0, 0, 0.9);
  --text-muted: rgba(0, 0, 0, 0.4);
  --title-color: #222222;
  --statement-color: rgba(10, 8, 8, 0.6);

  --title-underline-width: 3rem;
  --title-spacing: 2rem;

  --font-body: "Chivo", serif;
  --font-title: "Playfair Display", serif;
  --title-size: 1.7rem;
  --title-line-height: 2.5rem;
  --text-line-height: 1.8rem;
  --headline-size: 2rem;
  --blockquote-size: 1.15rem;

  --font-size: 17px;
  --max-font-size: 20px;
  --min-font-size: 17px;

  --min-width: 640px;
  --max-width: 1200px;

  --padding: clamp(1rem, 4.5vw, 3rem);

  --list-item-spacing: 2.5rem;
  --header-spacing: clamp(3.5rem, 6vw, 4rem);
  --item-spacing: clamp(3.5rem, 10vw, 6rem);

  --radius: 5px;
}
/* For fluid font calculation */
:root {
  --max-font-size-stripped: 20;
  --min-font-size-stripped: 17;
  --min-width-stripped: 640;
  --max-width-stripped: 1200;
}

.dark-mode {
  --color-primary: rgb(231, 72, 50);
  --text-color: rgba(255, 255, 255, 0.85);
  --title-color: #efefef;
  --statement-color: rgba(255, 255, 255, 0.6);
  --background: #222;
  --background-emphases: #383737;
  --statement-background: rgba(255, 255, 255, 0.07);
  --text-muted: rgba(255, 255, 255, 0.4);
}

/* Fluid typography formula */
@media (min-width: 640px) and (max-width: 1199px) {
  :root {
    --font-size: calc(
      var(--min-font-size) +
        (var(--max-font-size-stripped) - var(--min-font-size-stripped) - 1) *
        (100vw - var(--min-width)) /
        (var(--max-width-stripped) - 1 - var(--min-width-stripped))
    );
  }
}

/* Define max font size */
@media (min-width: 1200px) {
  :root {
    --font-size: 21px;
  }
}

html {
  font-size: var(--font-size);
}

body {
  background-color: var(--background);
  color: var(--text-color);
  font-family: var(--font-body);
  letter-spacing: 0.02rem;
  line-height: var(--text-line-height);
  margin: 0;
  opacity: 0;
  padding: 0 var(--padding) var(--padding);
}

main {
  margin: 0 auto;
  max-inline-size: var(--max-width);
}

header {
  margin: 0 auto;
  max-inline-size: var(--max-width);
}

header section {
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-block-start: calc(var(--header-spacing) / 2);
  padding-block-end: var(--header-spacing);
}

/* Reset */
pre {
  margin: 0;
}

p {
  margin: 0;
  margin-block-end: 1rem;
}

p:last-child {
  margin-block-end: 0;
}

img {
  inline-size: 100%;
  margin-block-end: var(--title-spacing);
  margin-block-start: 1rem;
}

ul,
ol {
  margin-block-end: var(--title-spacing);
  margin-block-start: 0;
  padding-inline-start: 1.5rem;
}

li + li {
  margin-block-start: 0.7rem;
}

picture {
  display: flex;
}

/* Nav */
nav-menu {
  margin-top: 1rem;
}

nav-menu a.active {
  color: var(--color-primary);
}

nav-menu a + a {
  margin-inline-start: 1rem;
}

.bar {
  display: flex;
  font-size: 0.6em;
  justify-content: space-between;
  max-inline-size: var(--max-width);
  width: calc(100%);
}

.bar a,
.bar .button {
  color: var(--text-muted);
}

dark-mode-toggle {
  margin-inline-start: auto;
}

dark-mode-toggle::before {
  content: "\2600";
  display: inline-block;
  margin-inline-end: 0.2rem;
}

.theme-loaded {
  opacity: 1;
}

.dark-mode dark-mode-toggle::before {
  content: "\263D";
  display: inline-block;
  margin-inline-end: 0.2rem;
}

/* Headline */

.headline {
  color: var(--font-title);
  display: flex;
  flex: 1;
  font-family: var(--font-title);
  font-size: var(--headline-size);
  font-weight: bold;
  letter-spacing: 0.2rem;
  line-height: 2.2rem;
  margin: 0;
  padding-inline-end: var(--title-spacing);
}

/* Statement */

.first-letter {
  float: left;
  font-size: 4.48rem;
  line-height: 4.48rem;

  margin-inline-end: 5px;
}

.statement {
  background: var(--statement-background);
  border-radius: var(--radius);
  color: var(--statement-color);
  /* margin-block-end: 1rem; */
  padding: 1.5rem 2rem;
}

.statement-emphases {
  color: var(--title-color);
  display: block;
  font-size: 1.5rem;
  margin-bottom: 0.4rem;
}

.statement-title {
  color: #ccc;
  display: block;
  margin-block-end: 1rem;
}

/* Cover */

.cover {
  justify-content: center;
  max-height: 90vh;
}

.cover img {
  inline-size: 100vw;
  justify-self: center;
  margin: 0 auto;
  margin-block-end: var(--title-spacing);
  max-inline-size: 1920px;
  object-fit: cover;
}

/* Title */

.title {
  align-self: start;
  color: var(--title-color);
  display: inline-block;
  font-family: var(--font-title);
  font-size: var(--title-size);
  font-weight: bold;
  justify-self: start;
  line-height: var(--title-line-height);
  margin-block-end: var(--title-spacing);
  margin-block-start: 0rem;
}

* + .title {
  margin-block-start: var(--title-spacing);
}

.title:after {
  border-block-end: 2px solid var(--color-primary);
  content: "";
  display: block;
  padding-block-start: 0.8rem;
  width: var(--title-underline-width);
}

/* Blockquote */

blockquote {
  max-width: 700px;
  display: block;
  margin: 45px auto 45px;
  color: var(--text-muted);
  line-height: 2rem;
  font-weight: 100;
  font-size: var(--blockquote-size);
  font-style: italic;
  font-family: var(--font-title);
}

/* Divider */

.divider {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  margin-block-end: 4rem;
  margin-block-start: 4rem;
}

.divider span {
  background-color: var(--text-color);
  border-radius: 50%;
  height: 3px;
  width: 3px;
}

/* Item */

.item {
  align-items: center;
  box-sizing: border-box;
  display: grid;
  gap: var(--padding);
  grid-auto-flow: row dense;
  grid-template-areas: "body image";
  grid-template-columns: 7fr 9fr;
  min-height: 80vh;
  padding: 0 0 var(--item-spacing) 0;
}

.statement + .item {
  padding-block-start: var(--header-spacing);
}

.item-body {
  grid-area: body;
}

.item-images {
  align-items: stretch;
  align-self: stretch;
  display: grid;
  gap: calc(var(--padding) / 2);
  grid-area: image;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  overflow: hidden;
  position: relative;
}

.item-image-preview {
  block-size: 100%;
  border-radius: var(--radius);
  margin: 0;
  object-fit: cover;
}

/* item layout 2 */

.item:nth-child(odd) {
  grid-template-areas: "image body";
  grid-template-columns: 10fr 6fr;
}

/* item layout 3 */

.item:last-child {
  grid-template-areas:
    "body"
    "image";
  grid-template-columns: none;
}

.item:last-child > .item-body,
.item:last-child > .item-images {
  grid-column: auto;
}

/* Responsive */

@media only screen and (max-width: 640px) {
  .item,
  .item:nth-child(odd) {
    grid-template-areas:
      "body"
      "image";
    grid-template-columns: none;
  }
}

/* Links  */

.item-links a + a {
  margin-left: 1rem;
}

a,
button,
.button {
  background: none;
  border: none;
  color: var(--text-color);
  cursor: pointer;
  display: inline-block;
  font-style: italic;
  line-height: 1.5rem;
  outline: none;
  text-decoration: none;
}

a:hover,
button:hover,
.button:hover {
  color: var(--color-primary);
}

/* List */

.list {
  display: grid;
  gap: var(--list-item-spacing);
  list-style: none;
  margin: 0;
  padding: 0;
}

.list-item {
  margin: 0;
}

.list-item-title {
  font-family: var(--font-title);
  font-size: 1.2rem;
  font-weight: bold;
}

.list-item-content {
  margin-bottom: 0.5rem;
}

.list-item-date {
  display: block;
  font-size: 0.7em;
  font-style: italic;
  line-height: 2em;
}

/* Post */

.post {
  --max-width: 800px;
}
