@mixin make-bg-pattern($type) {
  background-color: map-get($theme-colors, $type);
  background-image: map-get($bg-pattern-images, $type);
}

@mixin make-bg-cover() {
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


@mixin make-bg-pattern-middle($type) {
  position: relative;
  background-color: map-get($theme-colors, $type);
  &::after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    height: 100%;
    background-image: map-get($bg-pattern-images, $type);
    content: " ";

    @include make-width-grid(12);
    @include make-margin-grid((0, 0, 0, 6));
  }
}


@mixin make-bg-pattern-middle-2() {
  background-color: map-get($theme-colors, 'dark') !important;
  background-image: url(../assets/images/noir50.jpg);
  background-position: top center;
  background-repeat: repeat-y;
  color: $white;
  .card-line {
    background-color: $white !important;
  }
}

@mixin make-bg-shift($theme-color, $grid-value) {
  position: relative;
  &::after {
    position: absolute;
    top: grid-sized($grid-value);
    z-index: 0;
    width: 100%;
    height: calc(100% - #{grid-sized($grid-value)});
    background-color: map-get($theme-colors, $theme-color);
    content: " ";

  }
}

