
// Unstyled keeps list items block level, just removes default browser padding and list-style
@mixin list-inline-flex {
  padding-left: 0;
  list-style: none;
  display: inline-block;
  width: 100%;
  li {
    display: inline;
    position: relative;
    padding-right: 0.5rem;
    align-items: center;
  }
  li + li {
    padding-left: 0.6rem;
  }
  li + li::before {
    content: " ";
    display: block;
    position: absolute;
    left: 0;
    top: 0.4rem;
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    height: 40%;
  }
  .text-important {
    color: theme-color('primary');
  }

}
