@mixin make-shape($width, $height, $breakpoint: 'xs') {
  @if $width == $height {
    @include make-shape-square($width, $breakpoint);
  } @else {
    @include make-width-grid($width, $breakpoint);
    @include make-height-grid($height, $breakpoint);
  }
}

@mixin make-shape-square($index, $breakpoint: 'xs') {
  $props: ('width', 'min-width', 'max-width', 'height', 'min-height', 'max-height');
  @include make-grid-sized-prop($props, $index, $breakpoint);
}


@mixin make-square-standard() {
  width: 100%;
  margin-bottom: 0;
  padding-top: 100%;
  padding-bottom: 0;
}

@mixin clear-shape() {
  height: auto;
  max-height: initial;
  min-height: auto;
}


@mixin clear-width() {
  width: auto;
  max-width: initial;
  min-width: auto;
}